<section class="page__login_signup">
  <div>
    <%#---Left--- %>
    <div style="background-image: url(/images/john-matychuk-gUK3lA3K7Yo-unsplash.jpg);">
      <div>
        <header>
          <h2>Vigor</h2>
        </header>
        <p>Cùng thưởng thức giai điệu tuyệt vời</p>
        <ul>
          <li>Trang chủ</li>
          <li>Liên hệ</li>
        </ul>
      </div>
    </div>
    <%#---Right--- %>
    <div>
      <header>
        <h3>Cùng nhau nghe những bài hát cực hay</h3>
      </header>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia sed nemo perspiciatis cum accusantium vitae, numquam accusamus aliquam, sequi, quos totam. </p>
      <%= form_with url: 'signup',method: :post do |f|%>
      <%= f.text_field :email, placeholder:"Email" %>
      <%= f.text_field :username, placeholder:"Tên người dùng" %>
      <%= f.password_field :password, placeholder:"Password" %>
      <%= f.submit "Đăng ký", disable_with: 'Submiting...'%>
      <% end %>
      <p style="margin:auto">Bạn đã có tài khoản ? <span><a href="/v1/login">Đăng nhập ngay</a></span></p>
    </div>
  </div>
</section>