<section class="container">
  <div class="subContainer">
    <main class="home__main">
      <div class="MainPage__header">
        <div class="MainPage__header-avatarNOption">
          <a href="/v1/profile">
            <div class="MainPage__header-avatarNUserame">
              <div class="MuiAvatar-root MuiAvatar-circle MainPage__header-avatarNUserame-avatar">
                <% if !@user[0].profilePicture.nil? %>
                <img alt="avatar" src=<%= @user[0].profilePicture %> class="MuiAvatar-img" />
                <% else %>
                <img alt="avatar" src="https://banner2.cleanpng.com/20180629/ru/kisspng-computer-icons-user-background-icon-5b35b73f4812b6.2941272015302469752952.jpg" class="MuiAvatar-img" data-ava />
                <% end %>
              </div>
              <strong class="MainPage__header-avatarNUserame-username"><%= @user[0].username %></strong>
            </div>
          </a>
          <div class="MainPage__header-option">
            <button class="MuiButtonBase-root MuiButton-root MuiButton-text MainPage__header-option-setting" tabindex="0" type="button">
              <span class="MuiButton-label">
                <div class="MuiAvatar-root MuiAvatar-circle MuiAvatar-colorDefault">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path transform="scale(1.2, 1.2)" d="M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z"></path>
                  </svg>
                </div>
              </span>
            </button>
            <button class="MuiButtonBase-root MuiButton-root MuiButton-text MainPage__header-option-darkMode" tabindex="0" type="button">
              <span class="MuiButton-label">
                <div class="MuiAvatar-root MuiAvatar-circle MuiAvatar-colorDefault">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 2c-1.05 0-2.05.16-3 .46 4.06 1.27 7 5.06 7 9.54 0 4.48-2.94 8.27-7 9.54.95.3 1.95.46 3 .46 5.52 0 10-4.48 10-10S14.52 2 9 2z"></path>
                  </svg>
                </div>
              </span>
            </button>
          </div>
        </div>
        <div class="MainPage__header-input">

          <form class="MainPage__header-form" enctype="multipart/form-data">
            <textarea rows="1" type="text" id="MainPage__content" placeholder="Giai điệu của bạn hôm nay là gì?" class="statusInput"></textarea>
            <input type="file" id="MainPage__imageUpload" accept=".jpeg, .jpg, .png, .gif, .tiff, .psd, .pdf, .eps, .ai, .indd, .raw" /><input type="file" id="MainPage__videoUpload" accept=".mp4, .webm, .mpg, .mp2, .mpeg, .mpv, .ogg, .mov, .m4p, .m4v, .wmv, .avchd" /><input type="file" id="MainPage__soundUpload" accept=".mp3, .wav, .oog, .aac, .flac, .wma, .mp4a, . ogg, .amr, .aiff, .opus" />
          </form>
        </div>
        <div class="MainPage__header-uploadOptionBody"></div>
        <div class="MainPage__header-uploadOption">
          <div class="MainPage__header-uploadOption-option">
            <div class="MainPage__header-soundUpload">
              <label for="MainPage__soundUpload">
                <div class="MainPage__soundUpload--upload">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M1 13h-1v-1h1v1zm22-1h-1v1h1v-1zm-20-1h-1v3h1v-3zm18 0h-1v3h1v-3zm-14
  	                      0h-1v3h1v-3zm10-1h-1v5h1v-5zm-12 0h-1v5h1v-5zm14-1h-1v7h1v-7zm-10 0h-1v7h1v-7zm2-2h-1v10h1v-10zm4
  	                      0h-1v10h1v-10zm-2-2h-1v14h1v-14z"></path>
                  </svg>
                </div>
              </label>
            </div>
            <div class="MainPage__header-videoUpload">
              <label for="MainPage__videoUpload">
                <div class="MainPage__videoUpload--upload">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M9 16.985v-10.021l9 5.157-9 4.864zm4-14.98c5.046.504 9 4.782 9 9.97
  	                      0 1.467-.324 2.856-.892 4.113l1.738 1.006c.732-1.555 1.154-3.285 1.154-5.119
  	                      0-6.303-4.842-11.464-11-11.975v2.005zm-10.109 14.082c-.568-1.257-.891-2.646-.891-4.112
  	                      0-5.188 3.954-9.466 9-9.97v-2.005c-6.158.511-11 5.672-11 11.975 0 1.833.421
  	                      3.563 1.153 5.118l1.738-1.006zm17.213 1.734c-1.817 2.523-4.769 4.175-8.104
  	                      4.175s-6.288-1.651-8.105-4.176l-1.746 1.011c2.167 3.122 5.768 5.169 9.851
  	                      5.169 4.082 0 7.683-2.047 9.851-5.168l-1.747-1.011z"></path>
                  </svg>
                </div>
              </label>
            </div>
            <div class="MainPage__header-imageUpload">
              <label for="MainPage__imageUpload">
                <div class="MainPage__imageUpload--upload">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M10 15c0-.552.448-1 1.001-1s.999.448.999 1-.446 1-.999 1-1.001-.448-1.001-1zm6.2
  	                      0l-1.7 2.6-1.3-1.6-3.2 4h10l-3.8-5zm7.8-5v14h-18v-14h18zm-2 2h-14v10h14v-10zm-6.462-9.385l2.244
  	                      5.385h2.167l-3.334-8-16.615 6.923 4 9.663v-5.265l-1.384-3.321 12.922-5.385z"></path>
                  </svg>
                </div>
              </label>
            </div>
          </div>
          <div class="MainPage__header-uploadOption-upload" id="MainPage__header-form__submit">
            <button class="MuiButtonBase-root MuiButton-root MuiButton-contained postBtn Mui-disabled Mui-disabled" tabindex="-1" type="button" disabled="">
              <span class="MuiButton-label">Đăng</span>
            </button>
          </div>
        </div>
      </div>
      <div class="MainPage__feeds">
        <div class="MainPage__feedTitle">
          <h3>Dành cho bạn</h3>
        </div>
        <div class="masonry-grid">
          <div class="masonry-grid_column" style="width: 100%">
            <% @select.each do |post| %>
            <div class="MainPage__feed">
              <div class="popup__edit" data-post_id=<%= post.id %>>
                <div class="exitPopup" data-post_id=<%= post.id %>>
                  <img src="https://pics.freeicons.io/uploads/icons/png/8699422471541068766-512.png">
                </div>
                <label>Nội dung chỉnh sửa</label>
                <input type="text" name="title" class="title" value=<%= post.title%>>
                <input type="file" name="file" class="file">
                <div class="viewFile">
                  <%=
    	                  if !post.selectedImgFile.nil?
                     image_tag "/file/image/#{post.selectedImgFile}", width: '100%'
                   elsif !post.selectedVidFile.nil?
                     video_tag "/file/video/#{post.selectedVidFile}", width: '100%', controls: true, volume: '1'
                   elsif !post.selectedAudFile.nil?
                     audio_tag "/file/audio/#{post.selectedAudFile}", width: '100%', controls: true, volume: '1'
                   end
    	              %>
                </div>
                <button type="button"> Sửa</button>
              </div>

              <div class="MainPage__feed-header">
                <div class="MainPage__feed-headerAvatarNInfo">
                  <div class="MainPage__feed-headerAvatar">
                    <a href="/v1/profile/">
                      <div class="MuiAvatar-root MuiAvatar-circle">









                      </div>
                    </a>
                  </div>
                  <div class="MainPage__feed-headerInfo">
                    <strong class="MainPage__feed-headerInfo-username"><%= post.username %></strong>
                    <p class="MainPage__feed-headerInfo-createAt">
                      <%= post.created_at %>
                    </p>
                    <%#
    	                <div
    	                  class="MuiCollapse-container MainPage__feed-headerInfo-detail MuiCollapse-hidden"
    	                  style="min-height: 0px"
    	                >
    	                  <div class="MuiCollapse-wrapper">
    	                    <div class="MuiCollapse-wrapperInner">
    	                      chủ nhật, 10 tháng 1 năm 2021 15:50
    	                    </div>
    	                  </div>
    	                </div>
    	                %>
                  </div>
                </div>

                <div class="MainPage__feed-headerOptionDiv" data-toggle=<%= post.id %> data-user=<%= post.user_id %>>
                  <div class="MainPage__feed-headerOption" data-toggle=<%= post.id %> data-user=<%= post.user_id %>>
                    <svg version="1.1" id="Layer_1_1_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve" data-toggle=<%= post.id %> data-user=<%= post.user_id %>>
                      <circle cx="2" cy="8" r="2" />
                      <circle cx="8" cy="8" r="2" />
                      <circle cx="14" cy="8" r="2" />
                    </svg>
                  </div>
                  <div class="MainPage__feed-headerOptionModal">
                    <%# ------------- POPUP EDIT --------------- %>


                    <% if post.user_id == @user[0].id %>

                    <%# ------------- POPUP OPTION --------------- %>
                    <%# if post.user_id == @checkMySelf %>
                    <ul class="MainPage__feed-headerOptionModal-items">
                      <li class="MainPage__feed-headerOptionModal-item save" data-post_id=<%= post.id %>>
                        <svg id="_x31_px" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                          <path d="m14.199 24.002c-1.035 0-1.907-.521-2.141-1.364-.119-.425-.052-.889.188-1.306.337-.583.969-1.031 1.734-1.229 1.363-.35 2.667.2 2.96 1.258.119.425.052.889-.188 1.306-.337.583-.969 1.031-1.734 1.229-.278.072-.553.106-.819.106zm.595-3.002c-.182 0-.372.023-.563.073-.5.128-.918.413-1.118.759-.074.129-.15.327-.092.539.142.51.943.765 1.747.558.5-.128.918-.413 1.118-.759.074-.129.15-.327.092-.539-.108-.39-.599-.631-1.184-.631z" />
                          <path d="m21.199 23.002c-1.035 0-1.907-.521-2.141-1.364-.119-.425-.052-.889.188-1.306.337-.583.969-1.031 1.734-1.229 1.362-.35 2.667.2 2.96 1.258.119.425.052.889-.188 1.306-.337.583-.969 1.031-1.734 1.229-.278.072-.553.106-.819.106zm.595-3.002c-.182 0-.372.023-.563.073-.5.128-.918.413-1.118.759-.074.129-.15.327-.092.539.142.51.942.765 1.747.558.5-.128.918-.413 1.118-.759.074-.129.15-.327.092-.539-.108-.39-.599-.631-1.184-.631z" />
                          <path d="m16.5 22.246c-.276 0-.5-.224-.5-.5v-7.246c0-.249.183-.46.43-.495l7-1c.144-.02.289.023.397.117.111.095.173.233.173.378v7.25c0 .276-.224.5-.5.5s-.5-.224-.5-.5v-6.673l-6 .857v6.812c0 .276-.224.5-.5.5z" />
                          <path d="m16.5 12c-.276 0-.5-.224-.5-.5v-6.5h-13.5c-1.379 0-2.5-1.122-2.5-2.5s1.121-2.5 2.5-2.5h12c.276 0 .5.224.5.5v3.5h1.5c.276 0 .5.224.5.5v7c0 .276-.224.5-.5.5zm-14-11c-.827 0-1.5.673-1.5 1.5s.673 1.5 1.5 1.5h11.5v-3z" />
                          <path d="m9.5 22h-7c-1.379 0-2.5-1.122-2.5-2.5v-17c0-.276.224-.5.5-.5s.5.224.5.5v17c0 .827.673 1.5 1.5 1.5h7c.276 0 .5.224.5.5s-.224.5-.5.5z" /></svg>
                        <p>Lưu</p>
                      </li>
                      <li class="MainPage__feed-headerOptionModal-item update" data-post_id=<%= post.id %>>
                        <svg height="401pt" viewBox="0 -1 401.52289 401" width="401pt" xmlns="http://www.w3.org/2000/svg">
                          <path d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
                          <path d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" /></svg>
                        <p>Sửa</p>
                      </li>
                      <li class="MainPage__feed-headerOptionModal-item delete" data-post_id=<%= post.id %>>
                        <svg height="427pt" viewBox="-40 0 427 427.00131" width="427pt" xmlns="http://www.w3.org/2000/svg">
                          <path d="m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0" />
                          <path d="m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0" />
                          <path d="m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0" />
                          <path d="m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0" /></svg>
                        <p>Xóa</p>
                      </li>
                    </ul>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="MainPage__feed-body">
                <div class="MainPage__feed-bodyTitle">
                  <p><%= post.title %></p>
                </div>
                <div class="MainPage__feed-bodyContent">
                  <% p "URLLLL:#{!(post.selectedVidFile=="")}" %>
                  <%=
    	                if !post.selectedImgFile.nil?
                     image_tag "/file/image/#{post.selectedImgFile}", width: '100%'
                   elsif !post.selectedVidFile.nil?
                     video_tag "/file/video/#{post.selectedVidFile}", width: '100%', controls: true, volume: '1'
                   elsif !post.selectedAudFile.nil?
                     audio_tag "/file/audio/#{post.selectedAudFile}", width: '100%', controls: true, volume: '1'
                   end
    	              %>
                </div>
                <div class="MainPage__feed-bodyReaction">
                  <div class="MainPage__feed-bodyReaction-like">
                    <% if @like.group_by(&:post_id)[post.id] %>
                    <svg class="MuiSvgIcon-root MainPage__feed-bodyReaction-like--unlike" data-likers=<%= @like[0].user_id %> data-post_liker=<%= @like[0].id %> viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                    </svg>
                    <% else %>
                    <img src="https://www.svgrepo.com/show/150406/heart-outline-shape.svg" class="MuiSvgIcon-root MainPage__feed-bodyReaction-like--like" data-post_like_id=<%= post.id %> data-post_user_like_id=<%= post.user_id %> viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" />
                    <%
=begin%>
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                    <%
=end%>
                    <% end %>
                    <p class="MainPage__feed-bodyReaction-like-likeNumber">
                      <% if @like.length>0 %>
                      <% @likke =  @like.group_by(&:post_id) %>
                      <% if @likke[post.id] %>
                      <%= @likke[post.id].length %>
                      <% else %>
                      <%= 0 %>
                      <% end %>
                      <% else %>
                      <%= 0 %>
                      <% end %>
                    </p>
                  </div>
                  <div class="MainPage__feed-bodyReaction-cmt">
                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 14H6l-2 2V5c0-.55.45-1 1-1h14c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1z"></path>
                    </svg>
                    <% if @comment.length>0 %>
                    <% @cmt =  @comment.group_by(&:post_id) %>
                    <% if @cmt[post.id] %>
                    <%= @cmt[post.id].length %>
                    <% else %>
                    <%= 0 %>
                    <% end %>
                    <% else %>
                    <%= 0 %>
                    <% end %>
                  </div>
                </div>
                <div class="MainPage__feed-bodyComment" data-post_id_cmt=<%= post.id %>>
                  <% @comment.each do |cmt| %>
                  <% if cmt.post_id == post.id %>
                  <strong class="MainPage__feed-bodyComment-all__cmt" data-post_id_cmt=<%= post.id %>>Xem tất cả bình luận</strong>
                  <div class="MainPage__feed-bodyComment-commenters">
                    <div class="MuiAvatar-root MuiAvatar-circle MainPage__feed-bodyComment-avatar"></div>
                    <p class="MainPage__feed-bodyComment-text"><strong class="MainPage__feed-bodyComment-username"><%= cmt.username %></strong><%= cmt.text %></p>
                    <% p post.user_id %>
                    <% @user.each do |uDelete| %>
                    <% if cmt.user_id === uDelete.id %>
                    <div class="cmt_delete" data-del_cmt=<%= cmt.id %> style="width: 20px; height: 20px; margin: 0px 0px 0px 20px;"><img src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../assets/preview/2013/png/iconmonstr-trash-can-2.png&r=0&g=0&b=0" class="cmt_delete" data-del_cmt=<%= cmt.id %> style="width: inherit; height: inherit;"></div>
                    <% else %>
                    <% end %>
                    <% end %>
                  </div>
                  <% break %>
                  <% end %>
                  <% end %>
                </div>
              </div>
              <div class="MainPage__feed-comment">
                <div class="MainPage__feed-commentForm">
                  <input class="MainPage__feed-commentInput" data-post_id=<%= post.id %> type="text" placeholder="Thêm bình luận..." />
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
<%= javascript_pack_tag "custom/home.js", async: true%>
<%# javascript_pack_tag "custom/like.js", async: true%>