<!DOCTYPE html>
<html>

<head>
  <title>Vigor</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% p request.original_url <=> "http://localhost:3000/v1/login" %>
  <% if ((request.original_url != "http://localhost:3000/v1/login") && (request.original_url != "http://localhost:3000/v1/signup") && (request.original_url != "http://localhost:3000/")) %>
  <%= render "layouts/header" %>
  <% end %>
  <%= yield %>
</body>

</html>